<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('./assets/img/sections/pk-pro-cover.jpg')"
  >
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">Paper Kit 2</h1>
          <div class="fog-low">
            <img src="./assets/img/sections/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="./assets/img/sections/fog-low.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-dark section-summary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-layout-11"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Huge Number of Components</h4>
            <p>
              The kit comes with components designed to look perfect together.
              All components fit perfectly with each other.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-tile-56"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Multi-Purpose Sections</h4>
            <p>
              The sections will help you generate pages in no time. From team
              presentation to pricing options, you can easily customise and
              built your examples.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-danger">
            <i class="nc-icon nc-paper"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Example Pages</h4>
            <p>
              Speed up your development time or get inspired with the large
              number of example pages. You can jump start your development with
              our pre-built example pages.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-components section-dark">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="image-container">
        <img
          class="components-macbook"
          src="./assets/img/presentation-page/laptop-basic.png"
          alt=""
        />
        <img
          class="table-img"
          src="./assets/img/presentation-page/table.jpg"
          alt=""
        />
        <img
          class="share-btn-img"
          src="./assets/img/presentation-page/share-btn.png"
          alt=""
        />
        <img
          class="coloured-card-btn-img"
          src="./assets/img/presentation-page/coloured-card-with-btn.png"
          alt=""
        />
        <img
          class="coloured-card-img"
          src="./assets/img/presentation-page/coloured-card.png"
          alt=""
        />
        <img
          class="social-img"
          src="./assets/img/presentation-page/social-row.png"
          alt=""
        />
        <img
          class="pin-btn-img"
          src="./assets/img/presentation-page/pin-btn.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-10 col-lg-4 ml-auto mr-auto">
      <div class="container basic-container">
        <h3 class="title">Basic Components</h3>
        <h6 class="category">The core elements of your website</h6>
        <h5 class="description">
          We re-styled every Bootstrap 4 element to match the Paper Kit style.
          All the Bootstrap 4 components that you need in a development have
          been re-design with the new look. Besides the numerous basic elements,
          we have also created additional classes. All these items will help you
          take your project to the next level.
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="section section-free-demo section-dark" style="display: none">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="icon-github">
          <i class="fa fa-github"></i>
        </div>
        <div class="section-description">
          <h3 class="title">Free Demo</h3>
          <h5 class="description">
            Do you want to test and see the benefits of this kit before
            purchasing it? You can give the demo version a try. It features
            enough basic components for you to get a feel of the design and also
            test the quality of the code. Get it free on GitHub!
          </h5>
          <div class="row space-top">
            <div class="col-md-6">
              <a
                href="https://github.com/creativetimofficial/paper-kit/tree/bootstrap4-development"
                target="_blank"
                class="btn btn-round btn-neutral"
                >View Demo on Github</a
              >
            </div>
            <div class="col-md-6">
              <a
                class="github-button"
                href="https://github.com/creativetimofficial/paper-kit"
                data-show-count="true"
                data-size="large"
                aria-label="Star ntkme/github-buttons on GitHub"
                >Star</a
              >

              <a
                class="github-button"
                href="https://github.com/creativetimofficial/paper-kit"
                data-icon="octicon-repo-forked"
                data-size="large"
                aria-label="Fork ntkme/github-buttons on GitHub"
                >Fork</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 offset-md-1">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-pricing">
              <div class="card-body">
                <h3 class="card-title">Free Demo</h3>
                <ul>
                  <li><b>60</b> Components*</li>
                  <li><b>3</b> Example Pages</li>
                  <li><b>0</b> Customised Plugins</li>
                  <li>
                    <i class="fa fa-times text-danger"></i> Customised Icons
                  </li>
                  <li>
                    <i class="fa fa-times text-danger"></i> Beautiful Cards
                  </li>
                  <li><i class="fa fa-times text-danger"></i> Sections</li>
                  <li>
                    <i class="fa fa-times text-danger"></i> Premium Support
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-pricing">
              <div class="card-body">
                <h3 class="card-title">PRO Version</h3>
                <ul>
                  <li><b>1000+</b> Components*</li>
                  <li><b>15</b> Example Pages</li>
                  <li><b>8</b> Customised Plugins</li>
                  <li>
                    <i class="fa fa-check text-success"></i> Customised Icons
                  </li>
                  <li>
                    <i class="fa fa-check text-success"></i> Beautiful Cards
                  </li>
                  <li><i class="fa fa-check text-success"></i> Sections</li>
                  <li>
                    <i class="fa fa-check text-success"></i> Premium Support
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <br />
            <p class="description">
              *Components: buttons, social buttons, navbars, dropdowns, tabs,
              tables, cards, select, tags, sliders etc. and their customisation
              by classes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-responsive section-gold">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="phone-container">
          <img src="./assets/img/presentation-page/responsive.png" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="nc-icon nc-tablet-2"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Fully Responsive Layout</h4>
            <p>
              The kit is designed to be mobile first. Every components looks
              great on any screen size.
            </p>
          </div>
        </div>

        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="nc-icon nc-html5"></i>
          </div>
          <div class="description">
            <h4 class="info-title">HTML5 Powered by Bootstrap 4</h4>
            <p>
              Paper Kit 2 Pro is built on top of Bootstrap 4. Get the benefits
              of the most powerful framework and the perks of amazing design.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-testimonials">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Trusted by 232,000+ People</h2>
        <h5 class="description">
          The UI Kits, Templates and Dashboards that we've created are used by
          <b>232,000+ web developers</b> in over <b>400,000 Web Projects</b>.
          This is what some of them think:
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 ml-auto">
        <div class="testimonials-people">
          <img
            class="left-first-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/110862/thumb.?1482812727"
            alt=""
          />
          <img
            class="left-second-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/139481/thumb.jpg?1485460613"
            alt=""
          />
          <img
            class="left-third-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/152441/thumb.jpg?1488233314"
            alt=""
          />
          <img
            class="left-fourth-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/134607/thumb.?1487680276"
            alt=""
          />
          <img
            class="left-fifth-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/161506/thumb.?1489848178"
            alt=""
          />
          <img
            class="left-sixth-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/77627/thumb.jpg?1487360092"
            alt=""
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide class="carousel-item">
              <div class="card card-testimonial card-plain">
                <div class="card-avatar">
                  <img
                    class="img"
                    src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-description">
                    "I'm newer to the front-end... With my creative side lacking
                    in experience this really put me in the right spot to speed
                    through the fast lane. I love this Design kit so much!"
                  </h5>
                  <div class="card-footer">
                    <h4 class="card-title">Chase Jackson</h4>
                    <h6 class="card-category">Web Developer</h6>
                    <div class="card-stars">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <div class="card card-testimonial card-plain">
                <div class="card-avatar">
                  <img
                    class="img"
                    src="https://s3.amazonaws.com/creativetim_bucket/photos/134607/thumb.?1487680276"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-description">
                    "Love the shapes and color palette on this one! Perfect for
                    one of my pet projects!"
                  </h5>
                  <div class="card-footer">
                    <h4 class="card-title">Robin Leysen</h4>
                    <h6 class="card-category">Web Developer</h6>
                    <div class="card-stars">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <div class="card card-testimonial card-plain">
                <div class="card-avatar">
                  <img
                    class="img"
                    src="https://s3.amazonaws.com/creativetim_bucket/photos/125268/thumb.jpeg?1497799215"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-description">
                    "Love it. Use it for prototypes and along with Paper
                    Dashboard."
                  </h5>
                  <div class="card-footer">
                    <h4 class="card-title">Cristi Jora</h4>
                    <h6 class="card-category">Web Developer</h6>
                    <div class="card-stars">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>

      <div class="col-md-2 mr-auto">
        <div class="testimonials-people">
          <img
            class="right-first-person add-animation"
            src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg"
            alt=""
          />
          <img
            class="right-second-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/125268/thumb.jpeg?1497799215"
            alt=""
          />
          <img
            class="right-third-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/123334/thumb.JPG?1479459618"
            alt=""
          />
          <img
            class="right-fourth-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/118235/thumb.?1477435947"
            alt=""
          />
          <img
            class="right-fifth-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/18/thumb.png?1431433244"
            alt=""
          />
          <img
            class="right-sixth-person add-animation"
            src="https://s3.amazonaws.com/creativetim_bucket/photos/167683/thumb.?1491014996"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-black">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="https://www.creative-tim.com">DCoders</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          Made with
          <i class="fa fa-heart heart"></i> by DCoders.
        </span>
      </div>
    </div>
  </div>
</footer>





