<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/presentation']"
          >Paper Kit 2 PRO Angular</a
        >
      </div>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <div style="cursor: pointer;" class="nav-item ">
          <div class="nav-link">About Us</div>
        </div>
        <li class="nav-item">
          <a class="btn btn-round btn-danger" href="">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
